.dash{
    background-color: #373662;
    width: max-content;
    padding: 10px;
    justify-content: flex-start;
    height: 100vh;
    font-family: 'Spectral SC', serif;
    color: white;
    font-size: x-large;
    font-weight: 500;
}