
<div class="dash">
    <br>
   CARGOPRO
    
    <hr style="margin-top: 20px;">
    <div style="margin-left: 20px;margin-top: 20px;">
        <div style="display: flex;flex-direction: row;height: 30px;align-items: center;gap: 10px;margin-bottom: 20px">
          <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" style="text-decoration: none;color: white;">
            <img src="../../../assets/images/dashboard.png" width="20px" height="20px" style="margin-top: 20px;"/>
            </a>
            <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" style="text-decoration: none;color: white;">
              <p>Dashboard</p>
            </a>
        </div>
        <div style="display: flex;flex-direction: row;height: 30px;align-items: center;gap: 10px;margin-bottom: 20px;margin-left: -5px;">
          <a routerLink="/inventoryProducts" routerLinkActive="active" ariaCurrentWhenActive="page" style="text-decoration: none;color: white;">
            <img src="../../../assets/images/order.png" width="35px" height="35px" style="margin-top: 20px;"/>
            </a>
            <a routerLink="/inventoryProducts" routerLinkActive="active" ariaCurrentWhenActive="page" style="text-decoration: none;color: white;">
              <p>Product Details</p>
            </a>
        </div>
        <div style="display: flex;flex-direction: row;height: 30px;align-items: center;gap: 10px;margin-bottom: 20px">
          <a routerLink="/report" routerLinkActive="active" ariaCurrentWhenActive="page" style="text-decoration: none;color: white;">
            <img src="../../../assets/images/profit-report.png" width="25px" height="25px" style="margin-top: 20px;"/></a>
            <a routerLink="/report" routerLinkActive="active" ariaCurrentWhenActive="page" style="text-decoration: none;color: white;">
            <p>Reports</p>
          </a>
        </div>
    </div>
    
    
  </div>
  <router-outlet></router-outlet>