button{
    background-color:#373662;
    border: none;
    padding: 35px;
    color: white;
    font-weight: 600;
    width: max-content;
    height: max-content;
    border-radius: 15px;
    font-size: x-large;
}